{% set router = routers[inventory_hostname] %}
!
{% if router.system is defined %}
interface Loopback0
  ip address {{router.system}} 255.255.255.255
{% endif -%}
!
{% if router.links is defined -%}
{%  for links in router.links -%}
{%    for key, value in links.items() -%}
  interface {{key}}
  description to-{{value.neighbour}}
  encapsulation dot1Q {{value.dot1q}}
  ip address {{value.ip | ipaddr('address')}} {{value.ip | ipaddr('netmask')}}
{%      if "P" in value.neighbour %}
  ip ospf {{router.ospf_process}} area {{value.area}}
  mpls ip
  mpls label protocol ldp
{%    endif -%}
!
      
{%    endfor -%}
{%  endfor -%}
{% endif -%}  









