{% set router = routers[inventory_hostname] %}
!
{%  for links in router.links -%}
{% for key, value in links.items()%}
ip route 0.0.0.0 0.0.0.0 {{value.ip | ipaddr('1') | ipaddr('address') }}
{% endfor %}
{% endfor %}



